<h1>ng-input</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <article>
    <h2>Event</h2>
    <input type="text" formControlName="customernumber1" (blur)="formatNumber('customernumber1')" />
    <ged-validation-error-marker [control]="form.controls['customernumber1']"></ged-validation-error-marker>
    <h2>Directive</h2>
    <input type="text" formControlName="customernumber2" gedCustomernumberFormatter />
    <ged-validation-error-marker [control]="form.controls['customernumber2']"></ged-validation-error-marker>
    <h2>ControlValueAccessor</h2>
    <input type="text" formControlName="customernumber3" gedCustomernumberFormatterAccessor />
    <ged-validation-error-marker [control]="form.controls['customernumber3']"></ged-validation-error-marker>
    <h2>bundled in custom Input</h2>
    <ged-input>
      <input type="text" formControlName="customernumber4" gedCustomernumberFormatter />
    </ged-input>
    <h2>idependant input</h2>
    <ged-customernumber-input formControlName="customernumber5"></ged-customernumber-input>

    <button type="submit">submit</button>
  </article>

</form>
