<h1>ng-input</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <article>
    <h2>
      here we go
    </h2>
    <!-- <input type="text" formControlName="customernumber" (blur)="formatNumber('customernumber')" /> -->
    <input type="text" formControlName="customernumber" gedCustomernumberFormatter />
    <ged-validation-error-marker [control]="form.controls['customernumber']"></ged-validation-error-marker>
    <input type="text" formControlName="customernumber2" gedCustomernumberFormatterAccessor />
    <ged-validation-error-marker [control]="form.controls['customernumber2']"></ged-validation-error-marker>

    <button type="submit">submit</button>
  </article>

  {{form.value | json }}
</form>
